{% extends "baseserver.html" %}
{% block title %}
<title>服务器登录类型</title>
{% endblock %}
{% block content%}
<div class="layui-body" style="padding: 15px;">
    <!-- 内容主体区域 -->

    <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">服务器</a>
        <a><cite>登录类型</cite></a>
    </span>
    <br><br>
    <div class="layui-btn-group">
        <a href="/server/login/type/add" class="layui-btn">
            <i class="layui-icon">&#xe654;</i>增加
        </a>
        <button class="layui-btn" id="edit-btn" onclick="edit()">
            <i class="layui-icon">&#xe642;</i>编辑
        </button>
        <button class="layui-btn" id="del-btn" onclick="del()">
            <i class="layui-icon">&#xe640;</i>删除
        </button>
    </div>

    <table id="login_type-table" class="layui-table" lay-skin="row"></table>
</div>
<script type="text/html" id="item-tool">
    <div class="layui-btn-login_type">
        <button class="layui-btn layui-btn-small">
            <i class="layui-icon">&#xe654;</i>
        </button>
        <button class="layui-btn layui-btn-small">
            <i class="layui-icon">&#xe642;</i>
        </button>
        <button class="layui-btn layui-btn-small">
            <i class="layui-icon">&#xe640;</i>
        </button>
        <button class="layui-btn layui-btn-small">
            <i class="layui-icon">&#xe602;</i>
        </button>
    </div>
</script>
<script>
    var table
    var serverIns;
    layui.use(['table', 'layer'], function () {
        table = layui.table;

        //方法级渲染
        serverIns = table.render({
            elem: '#login_type-table',
            url: '/server/login/type/list',
            //,width: 900,
            height: 720,
            cols: [[ //标题栏
                {checkbox: true},
                {field: 'name', title: '名称', width: 450},

                //{field: 'title', title: '操作', width: 300, templet: '#item-tool'}
            ]],
            skin: 'row', //表格风格
            even: true,
            //,size: 'lg' //尺寸
            skin: 'nob',
            page: true, //是否显示分页
            limits: [3, 5, 10, 20],
            limit: 20 //每页默认显示的数量
            //,loading: false //请求数据时，是否显示loading
            , id: 'login_type-table' //ID
        });


    });


    var del = function () {
        layer.confirm('确认删除？',
            {icon: 3, title: '提示'},
            function (index) {
                //do something
                var checkStatus = table.checkStatus('login_type-table');
                var ids = [];
                $.each(checkStatus.data, function (index, item) {
                    ids.push(item.id);
                })
                var id_list = ids.join(',');
                console.log(id_list)
                $.ajax({
                    url: "/server/login/type/form/delete",
                    data: {
                        'ids': id_list
                    },
                    dataType: 'json',
                    success: function (result) {
                        layer.msg('删除成功')
                        serverIns.reload();
                    }
                });
                layer.close(index);
            },
            function (index) {

            });
    }

    var edit = function () {

        layui.use('layer', function () {
            var checkStatus = table.checkStatus('login_type-table');
            var id = checkStatus.data;
            if (id.length != 1) {
                layer.msg('每次只能编辑一条！')
            } else {
                location.href = "/server/login/type/edit?id=" + id[0].id;
            }
        })
    }

</script>

{% endblock%}