<!DOCTYPE html>
<html lang="cn">
<body>
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">服务器</a>
                <dl class="layui-nav-child">
                    <dd class="layui-nav-itemed"><a href="/">服务器</a></dd>
                    <dd><a href="/server/group">组管理</a></dd>
                    <dd><a href="/server/login/type">登录类型</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
</body>
</html>